torch==1.11.0
numpy==1.21.2
protobuf==3.19.1

# preprocessing
sentencepiece==0.1.96
nltk==3.6.5

# training
git+https://github.com/sarakolding/transformers
sklearn==0.0

# data
datasets==2.3.2
pandas==1.3.3

# evaluation
rouge-score==0.0.4
bert_score==0.3.11
# moverscore==2.5.1

# logging
wandb==0.12.16

# hyperparameter search
ray[tune] 