torch
numpy
protobuf

# preprocessing
sentencepiece
nltk
lemmy

# training
git+https://github.com/sarakolding/transformers
accelerate
sklearn

# data
datasets 
pandas
git+https://github.com/danielvarab/da-newsroom

# evaluation
rouge-score
bert_score 

# logging
wandb
